<section class="advantages-section">
    <h2 class="visually-hidden">advantages</h2>
    <div class="advantages-container">
        <ol class="advantages-list list">
            <li class="advantages-item">Swimming and water sports: try your hand at water skiing</li>
            <li class="advantages-item">Fishing: try to catch your own dinner</li>
            <li class="advantages-item">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</li>
            <li class="advantages-item">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</li>
        </ol>
        <picture class="advantages-picture">
            <source srcset="" media="(min-width: 1440px)" />
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 375px)" />
            <img src="" alt="">
        </picture>

    </div>
</section>