<section class="advantages-section">
    <h2 class="visually-hidden">advantages</h2>
    <div class="advantages-container">
        <ol class="advantages-list">
            <li class="advantages-item">
                <p class="advantages-number">01</p><span class="advantages-line"></span>Swimming and water sports: try
                your hand at water skiing
            </li>
            <li class="advantages-item">
                <p class="advantages-number">02</p><span class="advantages-line"></span>Fishing: try to catch your own
                dinner
            </li>
            <li class="advantages-item">
                <p class="advantages-number">03</p><span class="advantages-line"></span>Sightseeing tours: take a shore
                or island tour, enjoy the views and sunsets from
                the water
            </li>
            <li class="advantages-item">
                <p class="advantages-number">04</p><span class="advantages-line"></span>Rest and relaxation: read a book
                or listen to music while enjoying the outdoor
                atmosphere.
            </li>
        </ol>

        <picture class="advantages-picture">
            <source srcset="./img/advantages1440.jpg 1x, ./img/advantages1440@2x.jpg 2x" media="(min-width: 1440px)" />
            <source srcset="../img/advantages1280.jpg 1x, ./img/advantages1280@2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="./img/advantages_tablet.jpg 1x, ./img/advantages_tablet@2x.jpg 2x"
                media="(min-width: 768px)" />
            <source srcset="./img/advantages_mobile.jpg 1x, ./img/advantages_mobile@2x.jpg 2x"
                media="(max-width: 376px)" />
            <img src="./img/advantages_mobile.jpg" alt="yacht terrace" width="335">
        </picture>

    </div>
</section>