<header class="header">
  <div class="head-container">
    <nav class="head-nav">
      <a href="index.html" class="head-logo">yachtjet</a>
      <ul class="nav-ul">
        <li class="nav-list">
          <a href="#about-us" class="nav-link"> about </a>
        </li>
        <li class="nav-list">
          <a href="#our-yachts" class="nav-link"> yachts </a>
        </li>
        <li class="nav-list">
          <a href="#reviews" class="nav-link"> review </a>
        </li>
      </ul>
    </nav>
    <button class="mobile-button" id="menuButton">
      <!--Плашки замість іконки-->
      <span class="mobile-button-item"></span>
      <span class="mobile-button-item"></span>
    </button>
    <ul class="head-social-links-ul">
      <li class="head-social-links-list">
        <a
          href="https://www.instagram.com/goitclub/"
          class="head-social-links-link"
        >
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Instagram"
          >
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="head-social-links-list">
        <a href="https://www.youtube.com/c/GoIT" class="head-social-links-link">
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Youtube"
          >
            <use href="./img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="head-social-links-list">
        <a
          href="https://www.facebook.com/goITclub/"
          class="head-social-links-link"
        >
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Facebook"
          >
            <use href="./img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <!-- мобільне меню -->
  <div class="mobile-menu" id="mobile">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a href="#about-us" class="nav-link">about</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#our-yachts" class="nav-link">yachts</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a href="#reviews" class="nav-link">reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media-list">
      <li class="social-media-item">
        <a
          href=" https://www.instagram.com/goitclub/"
          target="_blank"
          class="social-media-link"
          aria-label="icon instagram"
        >
          <svg class="social-media-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="social-media-link"
          aria-label="icon yputube"
        >
          <svg class="social-media-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="social-media link"
        >
          <svg class="social-media-icon" width="24" height="24">
            <use
              href="./img/symbol-defs.svg#icon-facebook"
              aria-label="icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
