<header class="head">
  <div class="head-container">
    <nav class="head-nav">
      <a href="" class="head-logo">yachtjet</a>
      <ul class="nav-ul">
        <li class="nav-list about">
          <a href="" class="nav-link"> about </a>
        </li>
        <li class="nav-list">
          <a href="" class="nav-link"> yachts </a>
        </li>
        <li class="nav-list">
          <a href="" class="nav-link"> review </a>
        </li>
      </ul>
    </nav>
    <button class="mobile-button" id="menuButton">
      
      <svg
        class="mobile-button-icon"
        width="28"
        height="28"
        aria-label="mobile button"
      >
        <use href="./img/symbol-defs.svg#icon-ci_menu-duo-lg"></use>
      </svg>
    </button>
    <ul class="head-social-links-ul">
      <li class="head-social-links-list">
        <a
          href="https://www.instagram.com/goitclub/"
          class="head-social-links-link"
        >
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Instagram"
          >
            <use href="./img/symbol-defs.svg#icon-ph_instagram-logo-fill"></use>
          </svg>
        </a>
      </li>
      <li class="head-social-links-list">
        <a href="https://www.youtube.com/c/GoIT" class="head-social-links-link">
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Youtube"
          >
            <use
              href="../img/symbol-defs.svg#icon-entypo-social_youtube-with-circle"
            ></use>
          </svg>
        </a>
      </li>
      <li class="head-social-links-list">
        <a
          href="https://www.facebook.com/goITclub/"
          class="head-social-links-link"
        >
          <svg
            class="head-icon"
            width="24"
            height="24"
            aria-label="icon Facebook"
          >
            <use href="./img/symbol-defs.svg#icon-ic_outline-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
