<section class="our-yachts-section-style">
    <div class="container our-yachts-container">
        <div class="our-yachts-flex-order">
            <h2 class="our-yachts-title-style">Choose your dream yacht<br/> and sail away into the sunset</h2>
            <ul class="our-yachts-cards">
                <li class="our-yachts-card-shell our-yacht-first-card">
                    <a class="our-yachts-card-click" href="">
                        <picture class="our-yachts-picture-shell">
                            <source srcset="./img/first_card_max1x.jpg 1x, ./img/first_card_max2x.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/first_card_desk1x.jpg 1x, ./img/first_card_desk2x.jpg 2x" media="(min-width:1280px)" />
                            <source srcset="./img/first_card_tab1x.jpg 1x, ./img/first_card_tab2x.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/first_card_mob1x.jpg 1x, ./img/first_card_mob2x.jpg 2x" media="(max-width:767px)" />
                            <img src="../img/first_card_mob1x.jpg" alt="first yacht" />
                        </picture>
                        <div class="our-yachts-text-shell">
                            <ul class="our-yachts-text-justify">
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-arrow">ARROW</p>
                                </li>
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-luxyry">LUXURY YAHTS</p>
                                </li>
                            </ul>
                            <div class="our-yachts-divide-line"></div>
                            <div class="our-yachts-text-justify">
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-aspects">LENGTH</li>
                                    <li class="our-yachts-text-aspects">BUILDER</li>
                                    <li class="our-yachts-text-aspects">BUILT</li>
                                    <li class="our-yachts-text-aspects">GUESTS</li>
                                    <li class="our-yachts-text-aspects">PRICE</li>
                                </ul>
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-data">48m(155ft)</li>
                                    <li class="our-yachts-text-data">Admiral</li>
                                    <li class="our-yachts-text-data">2021</li>
                                    <li class="our-yachts-text-data">11 in 5 cabins</li>
                                    <li class="our-yachts-text-data">€33,500,000</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="our-yachts-card-shell our-yacht-second-card">
                    <a class="our-yachts-card-click" href="">
                        <picture class="our-yachts-picture-shell">
                            <source srcset="./img/second_card_max1x.jpg 1x, ./img/second_card_max2x.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/second_card_desk1x.jpg 1x, ./img/second_card_desk2x.jpg 2x" media="(min-width:1280px)" />
                            <source srcset="./img/second_card_tab1x.jpg 1x, ./img/second_card_tab2x.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/second_card_mob1x.jpg 1x, ./img/second_card_mob2x.jpg 2x" media="(max-width:767px)" />
                            <img src="./img/second_card_mob1x.jpg" alt="first yacht" />
                        </picture>
                        <div class="our-yachts-text-shell">
                            <ul class="our-yachts-text-justify">
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-arrow">BENETTI OASIS 40M...</p>
                                </li>
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-luxyry">LUXURY YAHTS</p>
                                </li>
                            </ul>
                            <div class="our-yachts-divide-line"></div>
                            <div class="our-yachts-text-justify">
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-aspects">LENGTH</li>
                                    <li class="our-yachts-text-aspects">BUILDER</li>
                                    <li class="our-yachts-text-aspects">BUILT</li>
                                    <li class="our-yachts-text-aspects">GUESTS</li>
                                    <li class="our-yachts-text-aspects">PRICE</li>
                                </ul>
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-data">41m (133ft)</li>
                                    <li class="our-yachts-text-data">Benetti</li>
                                    <li class="our-yachts-text-data">2025</li>
                                    <li class="our-yachts-text-data">10 in 5 cabins</li>
                                    <li class="our-yachts-text-data">€23,210,000</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="our-yachts-card-shell our-yacht-third-card">
                    <a class="our-yachts-card-click" href="">
                        <picture class="our-yachts-picture-shell">
                            <source srcset="./img/third_card_max1x.jpg 1x, ./img/third_card_max2x.jpg 2x" media="(min-width:1440px)" />
                            <source srcset="./img/third_card_desk1x.jpg 1x, ./img/third_card_desk2x.jpg 2x" media="(min-width:1280px)" />
                            <source srcset="./img/third_card_desk1x.jpg 1x, ./img/third_card_desk2x.jpg 2x" media="(min-width:768px)" />
                            <source srcset="./img/third_card_desk1x.jpg 1x, ./img/third_card_desk2x.jpg 2x" media="(max-width:767px)" />
                            <img src="./img/third_card_desk1x.jpg" alt="third yacht" />
                        </picture>
                        <div class="our-yachts-text-shell">
                            <ul class="our-yachts-text-justify">
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-arrow">BELLE ANNA</p>
                                </li>
                                <li class="our-yachts-text-box">
                                    <p class="our-yachts-text-luxyry">LUXURY YAHTS</p>
                                </li>
                            </ul>
                            <div class="our-yachts-divide-line"></div>
                            <div class="our-yachts-text-justify">
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-aspects">LENGTH</li>
                                    <li class="our-yachts-text-aspects">BUILDER</li>
                                    <li class="our-yachts-text-aspects">BUILT</li>
                                    <li class="our-yachts-text-aspects">GUESTS</li>
                                    <li class="our-yachts-text-aspects">PRICE</li>
                                </ul>
                                <ul class="our-yachts-text-column">
                                    <li class="our-yachts-text-data">50m(155ft)</li>
                                    <li class="our-yachts-text-data">ISA</li>
                                    <li class="our-yachts-text-data">2012</li>
                                    <li class="our-yachts-text-data">12 in 6 cabins</li>
                                    <li class="our-yachts-text-data">€21,000,000</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#rent" class="our-yacht-button-style" type="button">Yacht rental</a>
        </div>
    </div>
</section>