<section class="rent-yacht-section" id="rent">
  <div class="rent-yacht-container container">
    <h2 class="rent-yacht-title">Rent a yacht now</h2>
    <form class="rent-yacht-form">
      <div class="rent-yacht-form-input-wrapper">
        <input
          class="rent-yacht-form-input"
          id="user-name"
          name="user-name"
          type="text"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
          placeholder="Full Name"
          required
        />
      </div>
      <div class="rent-yacht-form-input-wrapper">
        <input
          class="rent-yacht-form-input"
          id="user-email"
          name="user-email"
          type="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="rent-yacht-form-input-wrapper">
        <input
          class="rent-yacht-form-input"
          id="user-phone"
          name="user-phone"
          type="tel"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
          placeholder="Phone number"
          required
        />
      </div>
      <textarea
        class="rent-yacht-form-comment"
        id="user-comment"
        name="user-comment"
        placeholder="Comment"
      ></textarea>
      <button class="rent-yacht-button" type="submit">Send</button>
    </form>
    <picture class="rent-yacht-picture">
      <source
        srcset="
          ./img/rent-a-yacht/rent-yacht-desktop-1440.jpg    1x,
          ./img/rent-a-yacht/rent-yacht-desktop-1440@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/rent-a-yacht/rent-yacht-desktop-1280.jpg    1x,
          ./img/rent-a-yacht/rent-yacht-desktop-1280@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/rent-a-yacht/rent-yacht-tablet.jpg 1x,
          ./img/rent-a-yacht/rent-yacht-tablet.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/rent-a-yacht/rent-yacht-mobile.jpg    1x,
          ./img/rent-a-yacht/rent-yacht-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/rent-a-yacht/rent-yacht-mobile.jpg"
        alt="photo of the rented yacht"
      />
    </picture>
  </div>
</section>
