.about-section {
    background-color: #0E1823;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 375px;
    margin: 0px auto;
}


.about-container {
    border-radius: 24px 24px 0px 0px;
    background-color: #FBFBFB;
    padding: 40px 20px 40px 20px;
}

.about-title-one {
    max-width: 280px;
    color: #1B414B;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.about-title-two {
    max-width: 295px;
    color: #1B414B;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-description {
    max-width: 280px;
    color: #040306;
    font-family: Inter;
    opacity: 0.4;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.yacht-about-img {
    border-radius: 0px 0px 24px 24px;
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .about-container {
        padding: 50px 136px 50px 32px;
    }

    .about-title-one {
        max-width: 536px;
        font-size: 48px;
    }

    .about-title-two {
        font-size: 23px;
        max-width: 389px;
    }

    .about-description {
        font-size: 13px;
        line-height: 1.15;
        max-width: 389px;
    }
}

@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }

    .about-container {
        padding: 50px 50px 100px 50px;
    }

    .about-title-one {
        max-width: 537px;
        margin-bottom: 0;
    }

    .about-title-two {
        max-width: 354px;
    }

    .about-yacht {
        margin-bottom: 0;
    }

    .about-description {
        max-width: 354px;
    }

    .about-text-block {
        display: flex;
        gap: 189px;
    }

}