.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages-section {
  background: #0e1823;
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.advantages-list {
  position: relative;
  display: flex;
  gap: 40px;
  max-width: 335px;
  padding: 80px 20px;
  flex-direction: column;
  margin: auto;
  border-radius: 24px;
  background: #1b414b;
  list-style: none;
}

.advantages-item {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.24px;
  opacity: 0.8;
}

.advantages-number {
  color: #fbfbfb;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.4px;
  margin-bottom: 18px;
  border-bottom: 2px solid rgba(251, 251, 251, 0.1);
  border-radius: 2px;
  max-width: 295px;
  padding-bottom: 18px;
  opacity: 1;
}


.advantages-picture img {
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .advantages-container {
    min-width: 768px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 32px;
    max-width: 704px;
    height: 424px;
    padding: 90px 32px;
  }

  .advantages-item {
    width: calc((100% - 32px) / 2);
  }

  .advantages-number {
    max-width: 304px;
  }

  .advantages-picture img {
    max-width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-container {
    min-width: 1180px;
  }

  .advantages-list {
    max-width: 716px;
    padding: 90px 50px;
  }

  .advantages-number {
    max-width: 280px;
  }

  .advantages-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .advantages-picture img {
    width: 432px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-container {
    min-width: 1340px;
  }

  .advantages-list {
    max-width: 768px;
    padding: 90px 50px;
  }

  .advantages-number {
    max-width: 318px;
  }

  .advantages-picture img {
    width: 540px;
  }
}
