h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: #0e1823;
}
.container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  line-height: 0px;/* Вадим Дученко */
}

/* стилі боді,контейнера,елементи які будуть повторюватись у всіх*/
/*від Антона Бугайчука
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #434455;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}*/
