.header {
  position: absolute;
  top: 32px;
  width: 100%;
}

.head-container {
  position: relative;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  padding-right: 12px;
}
/* ховаємо мобільне меню для десктопу та пленшетів */
.mobile-menu {
  display: none;
}
.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  gap: 4px;
}

.nav-list {
  display: flex;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list:focus,
.nav-list:hover {
  background-color: #1b414b;
}

.nav-link {
  display: flex;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;
  width: 91px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.head-logo {
  color: #1b414b;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.mobile-button {
  display: none;
}
.head-social-links-ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.head-social-links-link {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
}

.head-icon {
  fill: #1b414b;
}

.head-icon:hover {
  fill: #062730;
}

@media (min-width: 320px) and (max-width: 375px) {
  .head-container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .head {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Мій варіант хедера під мобілку */
  .head-container {
    position: relative;
    border-radius: 8px;
    z-index: 999;
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    height: 42px;
    padding-right: 20px;
    padding-left: 20px;
  }
  /* .head-container {
    width: 335px;
    height: 42px;
  } */

  .head-logo {
    font-size: 14px;
    letter-spacing: -0.02em;
  }
  .nav-ul {
    display: none;
  }
  .head-social-links-ul {
    display: none;
  }
  /* кнопка під плашки */

    .mobile-button 
    {
      border: none;
      cursor: pointer;
      background-color: transparent;
      display: block;
      padding: 0;
      position: relative;
      width: 28px;
      height: 28px;
    }
      .mobile-button-item:first-child 
      {
        top: 10.5px;
      }
              
      .mobile-button-item:last-child
      {
        bottom: 10.5px;
      }
      .mobile-button-item
      {
        transform: translateX(-50%);
        content: '';
        width: 21px;
        height: 2.5px;
        position: absolute;
        background-color: rgba(27, 65, 75, 1);
        border-radius: 2.5px;
        transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
      }
              
      .mobile-button.active>:first-child
      {
        width: 16px;
        left: 6px;
        top: 50%;
        transform: rotate(135deg);
        color: rgba(5, 85, 69, 1);
      }
              
      .mobile-button.active>:last-child
      {
       width: 16px;
       left: 6px;
       top: 50%;
       transform: rotate(-135deg);
       color: rgba(5, 85, 69, 1);
      }
    }
  .mobile-menu 
  {

    display: flex;
    flex-direction: column;
    background-color: #0E1823;
    position: fixed;
    min-width: 320px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 666;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    padding-bottom: 40px;
    transform: translateX(-100%);
    transition:transform 0.5s ease-in-out, 0.5s;
  }
    
  .is-open 
  {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
  /* Прибираємо скроллінг сторінки, коли мобільне вікно відкрите */
  .no-scroll
  {
    position: fixed;
    width: 100%;
  }
  .mobile-menu-nav 
  {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 102px;
    padding-bottom: 20px;

  .mobile-button-item:first-child {
    top: 10.5px;
  }

  .mobile-button-item:last-child {
    bottom: 10.5px;
  }
  .mobile-button-item {
    transform: translateX(-50%);
    content: '';
    width: 21px;
    height: 2.5px;
    position: absolute;
    background-color: rgba(27, 65, 75, 1);
    border-radius: 2.5px;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  .mobile-button.active > .mobile-button-item:first-child {
    width: 16px;
    left: 6px;
    top: 50%;
    transform: rotate(135deg);
    color: rgba(5, 85, 69, 1);
  }


  .mobile-button.active > .mobile-button-item:last-child {
    width: 16px;
    left: 6px;
    top: 50%;
    transform: rotate(-135deg);
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: #0e1823;
  position: fixed;
  min-width: 320px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 666;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 40px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, 0.5s;
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
/* Прибираємо скроллінг сторінки, коли мобільне вікно відкрите */
.no-scroll {
  position: fixed;
  width: 100%;
}
.mobile-menu-nav {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 102px;
  padding-bottom: 20px;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 4px;
}

.mobile-menu-nav-item {
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  width: 91px;
  height: 40px;
  transition: background-color 0.5s;
}

.mobile-menu-nav-item:active {
  background-color: rgba(27, 65, 75, 1);
}

.nav-link {
  color: #fbfbfb;
  text-align: center;
  font-size: 9px;
  font-style: normal;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 15px 25px 15px 24px;
}

.social-media-icon {
  fill: #fbfbfb;
  transition: fill 0.5s;
}

.social-media-icon:active {
  fill: #fbfbfbcc;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  line-height: 0;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .head-container {
    width: 704px;
    height: 48px;

    padding-left: 28px;
    padding-right: 12px;

  }
  .head-logo {
    margin-right: 109px;
  }
  .nav-ul {
    margin-right: 96px;
  }
}
@media (min-width: 1280px) {
  .head-container {
    width: 1080px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .head-logo {
    margin-right: 296px;
  }
}
@media (min-width: 1440px) {
  .head-container {
    width: 1240px;
  }
}

@media (min-width: 1440px) {
  .head-container{
    width: 1240px;
  }
  .head-logo{
    margin-right: 375px;
  }
}
