/*==================================HERO-MOBILE-STYLES=====================================*/
.hero-section {
  background-color: #0e1823;
  background-image: url(../img/bg-img-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 375px;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(../img/bg-img-hero-mobile@2x.jpg);
  }
}
.hero-section-text {
  color: #fbfbfbb3;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.16; /* 116.667% */
}
.hero-section-title {
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.hero-section-button {
  width: 141px;
  height: 46px;
  border-radius: 15px;
  display: block;
  padding: 14px 32px;
  text-align: center;
  background-color: #1b414b;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
.hero-section-container {
  padding-top: 260px;
  padding-bottom: 243px;
  padding-left: 20px;
  padding-right: 20px;
}
/*==================================HERO-TABLET-STYLES=====================================*/
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/bg-img-hero-tablet.jpg);
    max-width: 768px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(../img/bg-img-hero-tablet@2x.jpg);
    }
  }
  .hero-section-text {
    font-size: 16px;
    line-height: 1.4; /* 22.4px */
  }
  .hero-section-title {
    font-size: 70px;
    line-height: 1; /* 100% */
    letter-spacing: -0.02em;
  }
  .hero-section-button {
    min-width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1; /* 19.8px */
    letter-spacing: -0.02em;
  }
  .hero-section-container {
    padding-top: 280px;
    padding-bottom: 215px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/*==================================HERO-DESKTOP-STYLES=====================================*/
@media screen and (min-width: 1280px) {
  .hero-section {
    background-image: url(../img/bg-img-hero-desktop.jpg);
    max-width: 1280px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(../img/bg-img-hero-desktop@2x.jpg);
    }
  }
  .hero-section-title {
    font-size: 80px;
    line-height: 1; /* 100% */
    letter-spacing: -0.02em;
  }
  .hero-section-container {
    padding-top: 235px;
    padding-bottom: 180px;
    padding-left: 140px;
    padding-right: 140px;
  }
}
/*==================================HERO-DESKTOP-1440-STYLES=====================================*/
@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/bg-img-hero-desktop1440.jpg);
    max-width: 1440px;
  }
  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(../img/bg-img-hero-desktop1440@2x.jpg);
    }
  }

  .hero-section-container {
    padding-top: 235px;
    padding-bottom: 180px;
    padding-left: 220px;
    padding-right: 220px;
  }
}
