.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.rent-yacht-section {
  background-color: #0e1823;
}

.rent-yacht-title {
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-yacht-form-input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  margin-bottom: 14px;
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17px;
  padding: 18px 18px;
}

.rent-yacht-form-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.rent-yacht-form-comment {
  width: 100%;
  height: 108px;
  resize: none;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.7px;
  padding-left: 18px;
  padding-top: 14px;
}
.rent-yacht-button {
  border-radius: 15px;
  background: #1b414b;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  border: none;
  color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 80px;
  margin-top: 40px;
}
.rent-yacht-picture img {
  width: 100%;
  border-radius: 24px;
}

/*=============== TABLET STYLE ==============*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .rent-yacht-title {
    font-size: 48px;
    margin-left: 128px;
  }
  .rent-yacht-form {
    max-width: 472px;
    margin-left: auto;
    margin-right: auto;
  }
  .rent-yacht-form-input {
    width: 472px;
    height: 54px;
  }

  .rent-yacht-form-input {
    font-size: 14px;
    line-height: 1.29;
  }

  .rent-yacht-form-comment {
    width: 472px;
    height: 116px;
    font-size: 14px;
    line-height: 1.29;
  }
  .rent-yacht-button {
    margin-bottom: 100px;
    margin-top: 50px;
    width: 194px;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
  }
}

/*=============== DESKTO-1280 STYLE ==============*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .rent-yacht-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .rent-yacht-title {
    margin-left: 0;
  }
  .rent-yacht-button {
    margin-bottom: 0;
  }
}

/*=============== DESKTO-1440 STYLE ==============*/

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
